/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Noto Sans JP', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

.pop {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 90%;
  min-width: 1120px;
  position: relative;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* 
header
*/
header {
  padding: 27px 0;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #000;
}
.logo span {
  color: #80BA4A;
}
.header-menu li {
  list-style: none;
  margin-left: 40px;
}
.header-menu li a {
  transition: .3s;
}
.header-menu li a:hover {
  color: #80BA4A;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  header .container {
    justify-content: center;
  }
  .header-menu li {
    margin: 20px 16px 0;
  }
}

/* 
main
*/
#hero {
  background-image: url(../img/salad.jpg);
  background-position: center;
  background-size: cover;
  height: 540px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  overflow: hidden;
}
#hero::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2%;
  z-index: 1;
}
.hero-inner {
  z-index: 2;
  color: #fff;
  width: 100%;
  text-align: center;
}
.hero-inner p {
  font-style: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.hero-inner h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  #hero {
    height: 460px;
  }
  .hero-inner p {
    font-size: 15px;
  }
  .hero-inner h1 {
    font-style: 17px;
  }
}

/* 
concept
*/
#concept {
  margin-bottom: 120px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  color: #80BA4A;
  margin-bottom: 40px;
}
#concept h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}
.column-2 {
  width: 49%;
}
.text {
  line-height: 2;
}
.concept-img {
  background-image: url(../img/sub_salad01.jpg);
  background-position: center;
  background-size: cover;
  height: 340px;
  border-radius: 20px;
}
.heading {
  font-family: 'Dancing Script', cursive;
  font-size: 200px;
  font-weight: 700;
  color: #80BA4A;
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-30%);
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  #concept h3 {
    font-size: 24px;
    line-height: 1.5;
  }
  .column-2 {
    width: 100%;
  }
  .text {
    font-size: 15px;
    line-height: 1.7;
  }
  .concept-img {
    margin-top: 30px;
  }
}

/* 
service
*/
#service {
  margin-bottom: 120px;
}
.service-inner {
  margin-bottom: 40px;
  position: relative;
}
.column-40 {
  width: 40%;
}
.column-55 {
  width: 55%;
}
#service img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
#service h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .column-40 {
    width: 100%;
    margin-bottom: 30px;
  }
  .column-55 {
    width: 100%;
  }
  #service h3 {
    font-size: 17px;
  }
}

/*
company
*/
#company {
  margin-bottom: 120px;
}
#company dl {
  max-width: 900px;
  margin-left: auto;
}
#company dt {
  width: 30%;
  padding: 40px 0;
  font-weight: 500;
}
#company dd {
  width: 70%;
  padding: 40px 0;
}
#company hr {
  width: 100%;
  border: solid 1px #D2ECBA;
  margin: 0;
  padding: 0; 
}

@media only screen and (max-width: 768px) {
  #company dl {
    font-size: 13px;
  }
}

/* 
bottom
*/
.column-a {
  background-image: url(../img/bottom_salad01.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 300px;
  border-radius: 20px;
}
.column-b {
  background-image: url(../img/bottom_salad02.jpg);
  background-position: center;
  background-size: cover;
  width: 18%;
  height: 300px;
  border-radius: 20px;
}
.column-c {
  background-image: url(../img/bottom_salad03.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 300px;
  border-radius: 20px;
}
.column-d {
  background-image: url(../img/bottom_salad04.jpg);
  background-position: center;
  background-size: cover;
  width: 28%;
  height: 300px;
  border-radius: 20px;
}
@media only screen and (max-width: 768px) {
  .column-a,
  .column-b,
  .column-c,
  .column-d {
    padding: 0 50px;
    width: 48%;
    height: 200px;
    margin: 1%;
  }
}

/*
footer
*/
footer {
  text-align: center;
  margin: 90px;
}
.copyright {
  font-size: 12px;
  margin-top: 40px;
}
